* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../image/watercolor-5062356__480.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.pp{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    
}

.input-search {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.search {
    width: 40%;
    height: 1.5rem;
    padding-left: 0.5rem;
}

.button {
    width: 2rem;
}

.menu {
    width: 40%;
    height: 300px;
    margin: auto;
    border: 1px solid rgb(31, 29, 29);
    border-radius: 2rem;
    background-color: rgba(0,0,0,0.5);
    
}


.row_1{
    margin: 2rem;
    width: 30rem;
    border: 1px dotted red;
    font-size: 2rem;
    background: white;
    display: flex;
    justify-content: center;

    

}

.head {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.milk {
    
    
    width: 30rem;
    padding-left: 1rem;
}
.row_2{
    border: 1px dotted red;
    font-size: 2rem;
    background: white;
    display: flex;
    justify-content: center;
    

}
.apples {
    
    width: 30rem;
    padding-left: 1rem;
}

.row_2{
    margin: 2rem ;
    
    width: 30rem;
    border: 1px dotted red;
    font-size: 2rem;
    background: white;
    display: flex;
    justify-content: center;

    

}
